*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html {
     font-size: 62.5%;
}
.container {
     width: 100vw;
     max-width: 100%;
     height: 100vh;
     position: relative;
}

.center__container {
     width: 85vw;
     height: 85vh;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: grid;
     grid-template-columns: 25% 75%;
}

.tracker__data {
     width: 100%;
     height: auto;
     max-height: 85vh;
     display: flex;
     flex-direction: column;
}

.title__container {
     width: 90%;
     height: 15%;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid rgb(158, 158, 158);
     border-radius: 5px;
     font-size: 1.4rem;
}

.board__inputs {
     width: 90%;
     height: auto;
     margin-top: 2rem;
     padding: 1rem;
     border: 1px solid rgb(158, 158, 158);
     display: flex;
     flex-direction: column;
     border-radius: 5px;
}

.board__form {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.form__input {
     width: 90%;
     padding: 1rem;
     margin: .5rem auto;
     border: none;
     outline: none;
     background-color: rgb(241, 241, 241);
     border-radius: 1rem;
     cursor: pointer;
}

.totals__container {
     width: 90%;
     height: auto;
     margin-top: 2rem;
     padding: 1rem;
     border: 1px solid rgb(158, 158, 158);
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 5px;
}

.data__total{
     width: 90%;
     height: auto;
     margin: 2rem;
     padding: 1rem;
     background-color: rgb(236, 236, 236);
     display: flex;
     flex-direction: column;
     border-radius: 5px;
}

.data__total:hover {
     background-color: rgb(112, 197, 253);
}

.total__title {
     font-size: 1.6rem;
     padding: 1rem 0;
}

/* Main container */
.main__container {
     width: 95%;
     height: 90%;
     max-height: 85vh;
     border: 1px solid rgb(158, 158, 158);
     display: flex;
     flex-direction: column;
     border-radius: 5px;
}

.search {
     width: 70%;
     padding: 1.6rem;
     margin: 2rem auto;
     border: none;
     outline: none;
     background-color: rgb(241, 241, 241);
     border-radius: 1.5rem;
     cursor: pointer;
}
.search:focus {
     box-shadow: 0 0 3pt 2pt rgb(183, 235, 255);
     
}

.board__menu {
     margin: 2rem;
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-size: 1.6rem;
}

.board__link {
     cursor: pointer;
}

.board__display {
     width: 90%;
     max-height: 90%;
     margin: 2rem auto;
     overflow-y: scroll;
     display: flex;
     flex-direction: column;
}

.board__card {
     width: 95%;
     height: auto;
     margin: .5rem auto;
     padding: 1rem;
     background-color: rgb(230, 230, 230);
     border-radius: 5px;
     display: grid;
     grid-template-columns: 7fr 2fr 1fr;
     align-items: center;
     font-size: 1.2rem;
     font-weight: 700;
}
.board__card--date {
     font-size: .9rem;
}
.board__card--icon {
     cursor: pointer;
}
.exp__border {
     border-right: 2rem solid orangered;
}

.inc__border {
     border-right: 2rem solid rgb(0, 199, 43);
}

@media only screen and (max-width: 60em),
       only screen and (max-height: 48em) {
     .center__container {
          width: 85vw;
          height: 85vh;
          grid-template-columns: 1fr;
          grid-row-gap: .5rem;
     }
     
     .tracker__data {
          height: auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: .5rem;
     }

     .title__container {
          width: 100%;
          height: auto;
          grid-column: 1 / 3;
     }

     .board__inputs {
          width: 100%;
          height: auto;
          margin-top: 0;
          padding: 1rem;
          border: 1px solid rgb(158, 158, 158);
          display: flex;
          flex-direction: column;
          border-radius: 5px;
     }

     .totals__container {
          width: 100%;
          height: auto;
          margin-top: 0;
          padding: 1rem;
          border: 1px solid rgb(158, 158, 158);
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;
     }

     .data__total {
          width: 90%;
          height: auto;
          margin: .5rem;
          padding: 1rem;
          background-color: rgb(236, 236, 236);
          display: flex;
          flex-direction: column;
          border-radius: 5px;
     }

     .main__container {
          width: 100%;
          height: 90%;
          max-height: 85vh;
          border: 1px solid rgb(158, 158, 158);
          display: flex;
          flex-direction: column;
          border-radius: 5px;
     }
}

@media only screen and (max-width: 30em),
       only screen and (max-height: 30em){
     .board__inputs {
          grid-column: 1 / 3;
     }

     .board__form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: .5rem;
     }

     .form__input {
          width: 100%;
     }

     .totals__container {
          grid-column: 1 / 3;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 5px;
     }
     
     .total__title {
          font-size: 1.2rem;
          padding: 1rem 0;
     }
}
